// =================================== Table ===================================
.subtitle {
  font-weight: 300;
  text-align: center;
  color: #000;
}

.current-container {
  height: 50%;
  width: 100%;
}
.grid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-content: center;
  margin: 0 2rem;
}
.current-table {
  margin-right: 20px;
  border: solid 2px #41403e;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.current-table:nth-child(1) {
  background-color: #ff6b6b;
  margin: 1rem;
}
.current-table:nth-child(2) {
  background-color: #4ecdc4;
  margin: 1rem;
}
.current-table:nth-child(3) {
  background-color: #ffe66d;
  margin: 1rem;
}
.current-table:nth-child(4) {
  background-color: #1a535c;
  margin: 1rem;
}
.current-table:nth-child(5) {
  background-color: #ff6b6b;
  margin: 1rem;
}
.current-table:nth-child(6) {
  background-color: #4ecdc4;
  margin: 1rem;
}

.MuiTableCell {
  &-alignRight {
    text-align: center !important;
  }
  &-root {
    width: 25%;
  }
  &-head {
    @media screen and (max-width: 599px) {
      height: 10px !important;
    }
  }
}

.table {
  overflow-x: auto;
  margin-bottom: 2rem;
  &-main {
    min-height: 650px;
  }
}

.mobile-table-row {
  @media screen and (max-width: 599px) {
    display: none;
  }
}

.MuiTableCell-root {
  @media screen and (max-width: 599px) {
    letter-spacing: -0.9999px !important;
  }
}

.MuiTableCell-sizeSmall {
  @media screen and (max-width: 599px) {
    padding: 6px 24px 0px 16px !important;
  }
}

.MuiTableCell-sizeSmall:last-child {
  @media screen and (max-width: 599px) {
    padding-right: 16px;
    height: 100px;
  }
}

.current-table:nth-child(1st) {
  background-color: red;
}
