// =================================== Loading ===================================

.loader {
  text-align: center;
}
.loading {
  animation: blink 700ms infinite forwards;
  color: #1976d2 !important;
}

.MuiCircularProgress-colorPrimary {
  color: #1976d2 !important;
}

.MuiCircularProgress-circleIndeterminate {
  color: #1976d2 !important;
}
