// =================================== General ===================================
html {
  height: 100%;
  width: 100%;
  font-family: "Roboto";
}
body {
  margin: 0 !important;
}

div#root {
  height: 100vh;
}

// =================================== alerts ===================================
.alert {
  height: 20px;
  margin: 0;
  color: #5398dd;
  animation: blink 2s forwards;
}
.alert-off {
  margin: 0;
  height: 20px;
  opacity: 0;
}

.fav-error {
  width: 100%;
  text-align: center;
  animation: blink 1s forwards;
  animation-iteration-count: 3;
}
@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}




