// =================================== General ===================================
html {
  height: 100%;
  width: 100%;
  font-family: "Roboto";
}
body {
  margin: 0 !important;
}

// =================================== Navbar ===================================
h6 {
  font-weight: 300 !important;
}

.MuiContainer-maxWidthSm {
  background-color: #e3f2fd;
  height: 100vh;
}

.MuiAppBar-colorPrimary {
  color: #bbdefb !important;
  background-color: #1976d2 !important;
}

// =================================== Table ===================================
.subtitle {
  font-weight: 300;
  text-align: center;
}

.MuiTableCell {
  &-alignRight {
    text-align: center !important;
  }
  &-root {
    width: 25%;
  }
}

.table {
  overflow-x: auto;
  margin-bottom: 2rem;
  &-main {
    min-height: 650px;
  }
}

// =================================== Current weather ===================================
.current-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50vh;
    margin: 5rem;
    padding: 0;

    &-title {
      font-weight: 300;
      margin-bottom: 0;
    }

    &-desc {
      line-height: 0;
      position: relative;
      left: -28px;
      font-family: "Poiret One", cursive;
    }

    & &-degree {
      font-size: 3.5rem;
      margin: 2rem auto;
      font-weight: lighter;
    }
  }
}

.fav-btn {
  background-color: #5398dd !important;
  margin-bottom: 1rem !important;
}

// =================================== Forecast weather =========================

.weather-icon {
  width: 30px;
}

// =================================== alerts ===================================
.alert {
  height: 20px;
  margin: 0;
  color: #5398dd;
  animation: blink 2s forwards;
}
.alert-off {
  margin: 0;
  height: 20px;
  opacity: 0;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// =================================== Material Fixes ===================================
