// =================================== General ===================================
html {
  height: 100%;
  width: 100%;
  font-family: "Roboto";
}
body {
  margin: 0 !important;
}

div#root {
  height: 100vh;
}

// =================================== Navbar ===================================

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

h6 {
  font-weight: 300 !important;
}

.MuiContainer-maxWidthMd {
  height: 100% !important;
  // background-color: aquamarine;
}
.MuiContainer-maxWidthSm {
  background-color: #e3f2fd;
  height: 100vh !important;
}

.MuiAppBar-colorPrimary {
  color: #bbdefb !important;
  background-color: #1976d2 !important;
}

.MuiInput-underline:after {
  border-color: #1976d2 !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #1976d2 !important;
}

.MuiFormHelperText-root {
  height: 10px !important;
  color: red !important;
  animation: blink 1s infinite forwards;
}

@keyframes blink {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.link {
  text-decoration: none;
  margin-right: 10px;
  margin-top: 16px;
  margin-bottom: 8px;
  color: #5fa4e9;
  opacity: 0.8;
  transition: opacity 300ms, color 300ms;
  &:hover {
    color: #2b80d4;
    opacity: 1;
  }
}

// =================================== Table ===================================
.subtitle {
  font-weight: 300;
  text-align: center;
}

.MuiTableCell {
  &-alignRight {
    text-align: center !important;
  }
  &-root {
    width: 25%;
  }
  &-head {
    @media screen and (max-width: 599px) {
      height: 10px !important;
    }
  }
}

.table {
  overflow-x: auto;
  margin-bottom: 2rem;
  &-main {
    min-height: 650px;
  }
}

.mobile-table-row {
  @media screen and (max-width: 599px) {
    display: none;
  }
}

.MuiTableCell-root {
  @media screen and (max-width: 599px) {
    letter-spacing: -0.9999px !important;
  }
}

.MuiTableCell-sizeSmall {
  @media screen and (max-width: 599px) {
    padding: 6px 24px 0px 16px !important;
  }
}

.MuiTableCell-sizeSmall:last-child {
  @media screen and (max-width: 599px) {
    padding-right: 16px;
    height: 100px;
  }
}

.MuiTableHead-root {
  background-color: #5398dd;
}

.MuiTableCell-head {
  color: #eee !important;
}

// =================================== Current weather ===================================
.current-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

  &__circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 5rem;
    padding: 0;

    &-title {
      font-weight: 300;
      margin-bottom: 0;
    }

    &-desc {
      line-height: 0;
      font-family: "Poiret One", cursive;
    }

    &-degree {
      font-size: 3.5rem;
      margin: 2rem auto;
      font-weight: lighter;
    }
  }

  &__image {
    margin-bottom: -40px;
    padding: 10px;
  }
}

.fav-btn {
  background-color: #5398dd !important;
  margin-bottom: 1rem !important;
  border-radius: 25px !important;
}

.o {
  font-size: 30px;
}

// =================================== Forecast weather =========================

.weather-icon {
  width: 30px;
}

// =================================== alerts ===================================
.alert {
  height: 20px;
  margin: 0;
  color: #5398dd;
  animation: blink 2s forwards;
}
.alert-off {
  margin: 0;
  height: 20px;
  opacity: 0;
}

.fav-error {
  width: 100%;
  text-align: center;
  animation: blink 1s forwards;
  animation-iteration-count: 3;
}
@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// =================================== Loading ===================================

.loader {
  text-align: center;
}
.loading {
  animation: blink 700ms infinite forwards;
  color: #1976d2 !;
}

.MuiCircularProgress-colorPrimary {
  color: #1976d2 !important;
}

.MuiCircularProgress-circleIndeterminate {
  color: #1976d2 !important;
}
