.footer-distributed {
  background-color: #72b2f3;
  box-shadow: -1px -6px 5px 0px rgba(0, 0, 0, 0.048);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 10px 25px;
  color: #eee;
  border-top: 1px solid rgb(216, 211, 211);
}

.footer-distributed .footer-left p {
  font-size: 14px;
  margin: 0;
}
.no-margin {
  margin: 0;
}

.brand-name {
  font-size: 1.5rem;
  font-weight: lighter;
  font-weight: 400;
  margin-top: 4rem;
}

/* Footer links */

.footer-distributed p.footer-links {
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  font-weight: 300;
}

.footer-distributed p.footer-links {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
}

.by {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-linkedin {
  color: #caccce;
}

.fa-github {
  color: #6cc644;
}
