// =================================== Current weather ===================================
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
* {
  box-sizing: border-box;
}
html,
body {
  background-color: #f0f0d8 !important;
  font-family: "Patrick Hand SC", cursive !important;
  & h1 {
    text-align: center;
    color: #41403e;
    font-size: 3rem;
  }
  & section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    margin-bottom: 3rem;
    & button {
      align-self: center;
      background: transparent;
      padding: 1rem 1rem;
      margin: 0 1rem;
      transition: all 0.5s ease;
      color: #41403e;
      font-size: 2rem;
      letter-spacing: 1px;
      outline: none;
      box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    }
  }
}
@media (max-width: 620px) {
  body {
    h1 {
      margin-top: 2rem;
    }
    & section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 1rem;
      & button {
        align-self: center;
        margin-bottom: 2rem;
      }
    }
  }
}

.current-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 5rem;
  &__circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: solid 2px #41403e;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    @media screen and (max-width: 599px) {
      width: 100%;
    }
    height: 400px;
    margin: 9rem 0 0 0;
    padding: 0;
    color: #fff;
    background-color: #ffe66d;

    &-title {
      font-weight: 300;
      margin-bottom: 0;
      text-align: center;
      @media screen and (max-width: 599px) {
        font-size: 2.3rem;
      }
    }

    &-desc {
      line-height: 0;
      font-family: "Poiret One", cursive;
    }

    &-degree {
      font-size: 3.5rem;
      margin: 2rem auto;
      font-weight: lighter;
    }
  }

  &__image {
    margin-bottom: -40px;
    padding: 10px;
    width: 100px;
    height: 100px;
  }

  .loader {
    width: unset;
  }
}

.weather-icon {
  width: 30px;
}

// ===================================== add Fav animation =============================

.fav-icon {
  color: rgb(255, 49, 100);
  text-align: center;
  &__animate {
    animation: spin 900ms infinite linear;
  }
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(-360deg);
  }
}
